@using BPShop.Enities 
@{
    ViewBag.Title = "AddProductsForm";
    Layout = null;
}

<form id="AddProductsForms" method="post" controller="Admin" action="AdminPanelAdd" enctype="multipart/form-data">

    <label for="Name"><h3>Введите название продукта</h3></label>
    <input type="text" name="Name" required />

    <label for="Cost"><h3>Введите цену продукта</h3></label>
    <input type="number" name="Cost" required />

    <label for="Description"><h3>Опишите продукт</h3></label>
    <input type="text" name="Description" required />

    <label for="Count"><h3>Введите количество цветов</h3></label>
    <input type="number" name="Count" required />

    <label for="CountFlowerInBouquet"><h3>Введите количество цветов в букете</h3></label>
    <input type="number" name="CountFlowersInBouquet" required />

    <label for="ProductType"><h3>Введите тип продукта</h3></label>
    <select name="ProductType" required>
        @foreach (ProductType productType in Enum.GetValues(typeof(ProductType)))
        {
            <option value="@productType">@productType.ToString()</option>
        }
    </select>

    <label for="SearchPrompt"><h3>Поиск товара</h3></label>
    <input type="text" name="SearchPrompt" value="" required />

    <label for="FlowersType"><h3>Введите тип цветов</h3></label>
    <select name="FlowersType" required>
        @foreach (FlowersType flowerType in Enum.GetValues(typeof(FlowersType)))
        {
            <option value="@flowerType">@flowerType.ToString()</option>
        }
    </select>
        <label for="ImgRef"><h3>Путь к файлу</h3></label>
        <input type="text" name="ImgRef" value="" required />

        <input onclick="ShowProducts()" id="Products" type="submit" value="Продукты" />
</form>
