﻿@using BPShop.Enities
@{
    ViewBag.Title = "AddProductsForm";
    Layout = ViewBag.Layout;
}

@if (ViewBag.IsAdded != null)
{
<div class="notify-block">
    <div class="notify-item">
        Новый товар создан
    </div>
</div>
}

<form id="AddProductsForms" method="post" controller="Admin" action="AddNewProduct" enctype="multipart/form-data">

    <label for="Name"><h3>Введите название продукта</h3></label>
    <input type="text" name="Name" required />

    <label for="Cost"><h3>Введите цену продукта</h3></label>
    <input type="number" name="Cost" required />

    <label for="Description"><h3>Опишите продукт</h3></label>
    <input type="text" name="Description" required />

    <label for="Count"><h3>Введите количество цветов</h3></label>
    <input type="number" name="Count" required />

    <label for="CountFlowerInBouquet"><h3>Введите количество цветов в букете</h3></label>
    <input type="number" name="CountFlowersInBouquet" required />

    <label for="ProductType"><h3>Введите тип продукта</h3></label>
    <select name="ProductType" required>
        @foreach (ProductType productType in Enum.GetValues(typeof(ProductType)))
        {
            int prType = (int)productType;
            <option value="@prType">@productType.ToString()</option>
        }
    </select>

    <label for="SearchPrompt"><h3>Поиск товара</h3></label>
    <input type="text" name="SearchPrompt" value="" required />

    <label for="FlowersType"><h3>Введите тип цветов</h3></label>
    <select name="FlowersType" required>
        @foreach (FlowersType flowerType in Enum.GetValues(typeof(FlowersType)))
        {
            int flType = (int)flowerType;
            <option value="@flType">@flowerType.ToString()</option>
        }
    </select>

    <label for="ImgRef"><h3>Путь к файлу</h3></label>
    <input type="text" name="ImgRef" value="" required />

    <input type="submit" value="Добавить" />
</form>
