
@{
    ViewBag.Title = "ImagesPage";
    Layout = ViewBag.Layout;

    var imagePaths = ViewBag.ImagePaths as string[];
    var fileNames = ViewBag.FileNames as string[];
}
<style>
    #imageGrid {
        display: flex;
        flex-wrap: wrap;
    }
    .imageContainer {
        max-width: 250px; 
        margin: 2rem;
    }
</style>

<h2>Фотографии на сервер</h2>
<div id="imageGrid">
    @for (int i = 0; i < imagePaths.Length; i++)
    {
        <div class="imageContainer">
            <img src="/Content/productImgs/@fileNames[i]" alt="Product Image" />
            <p>@fileNames[i]</p>
        </div>
    }
</div>

<form id="AddProductsForms" method="post" controller="Admin" action="AddNewImage" enctype="multipart/form-data">

    <label for="file"><h3>Загрузите картинку цветов</h3></label>
    <input type="file" name="file" id="fileInput" value="" />

    <input type="submit" value="Добавить"  />
</form>

@*<script>
    function uploadFile() {
        showLoader();
        var formData = new FormData();
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];

        formData.append('file', file);

        $.ajax({
            url: '/Admin/AddNewImage',
            type: 'POST',
            data: formData,
            contentType: false, 
            processData: false, 
            success: function (response) {
                hideLoader();
            },
            error: function (xhr, status, error) {
                hideLoader();
                alert('Ошибка при загрузке файла на сервер:', error);
            }
        });
    }
</script>*@

