
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

        .main input {
            height: 30px;
            width: 150px;
        }
</style>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <form action="Auth" method="post" class="main">
        <h2>Пароль</h2>
        <input type="password" name="Pass" value="" />
    </form>
}


