@{
    ViewBag.Title = "Contact";
}


<div class="flex f-column">
    <h1>Наши контакты:</h1>   <a href="mailto:bez.povoda.almaty@gmail.com">bez.povoda.almaty@gmail.com</a><br />
    <h3>Соц. сети:</h3>
    <div class="flex">
        <a href="https://www.instagram.com/bez_povoda_almaty/" class="contact-img-link"><img src="~/Content/imgs/inst.png" alt="insta" /></a>
        <a href="https://wa.me/+77476322370" class="contact-img-link"><img src="~/Content/imgs/wa.png" alt="whatsapp" /></a>
    </div>
</div>