@{
    ViewBag.Title = "Contact";
}


<div class="flex f-column">
    <h1>Наши контакты:</h1>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <h3>Соц. сети:</h3>
    <div class="flex">
        <a href="instagram.com" class="contact-img-link"><img src="~/Content/imgs/inst.png" alt="insta" /></a>
        <a href="instagram.com" class="contact-img-link"><img src="~/Content/imgs/wa.png" alt="whatsapp" /></a>
    </div>
</div>