@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />


<div class="slider-block">
    <div class="slider">
        <div class="slide"><img src="~/Content/imgs/flowers1.jpg" alt="Изображение 1"></div>
        <div class="slide"><img src="~/Content/imgs/flowers2.jpg" alt="Изображение 2"></div>
        <div class="slide"><img src="~/Content/imgs/flowers3.jpg" alt="Изображение 3"></div>
        <div class="slide"><img src="~/Content/imgs/flowers4.jpg" alt="Изображение 4"></div>
    </div>
</div>

   

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <script>
        $('.slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            autoplay: false,
            autoplaySpeed: 4000,
            responsive: [
                {
                    breakpoint: 1300,
                    settings: {
                        speed: 600,
                        cssEase: 'linear'
                    }
                }
            ]
        });
    </script>
