@model BPShop.Enities.Product
@{
    ViewBag.Title = "ShowProduct";
    Layout = null;
}
<div >
    <span class="close">&times;</span>
    <div class="card">
        <img src="@Model.ImgRef" alt="Product Image">
        <div class="price">@Model.Cost</div>
        <div class="description">@Model.Description</div>
        <div class="availability">@Model.Name</div>

        <div class="quantity">
            <button onclick="decrementQuantity()">-</button>
            <input type="number" id="quantity" value="1" min="1" max="99">
            <button onclick="incrementQuantity()">+</button>
        </div>
        <div class="card-btns">
            <button class="order-button" onclick="addToCart()">Добавить в корзину</button>
            <button class="order-button" onclick="orderNow()">Заказать сейчас</button>
        </div>
    </div>

</div>

